// To-do:
//    - remove cursor from text labels
// 

.voronoi, .contour {
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

svg {
    font: 10px sans-serif;
    text-transform: uppercase
    // background-color: #F2DBB5
    // background-color: #E1CDB5
}
.border path {
    fill: none;
    stroke: #faa;
    stroke-dasharray: 10, 3, 2, 3;
    stroke-width : 1.6;
}

.house {
  fill: #E7E7E7;
  fill: #efece6;

}


.square {
  fill: rgba(194, 227, 149, 0.733);
}

.roads {
    fill: #888;
    font-size: 6.25px;
    letter-spacing: 0.1em;
    text-anchor: middle;
}

.places {
  fill: #888;
  font-size: 9px;
}

.pumps rect {
  fill: #0099cc;
  &:hover {
    fill: pink;
  }
}

.deaths {
  fill: #c88;
  stroke: #842A2A;
}

  // .house {
  //   fill: #e4dfd4;
  // }
  // .square {
  //   fill: #d3e2be;
  // }
  // .pumps path {
  //   fill: #0099cc;
  // }
  // .deaths path {
  //   fill: #c88;
  //   stroke: #842A2A;
  //   stroke-width: 0.5;
  // }
  // .places {
  //   fill: black;
  //   font-size: 12px;
  //   text-shadow: 0px 2px white;
  //   text-anchor: middle;
  // }
  // .roads {
  //   fill: #888;
  //   font-size: 9px;
  //   text-anchor: middle;
  // }
  
  // .legend rect {
  //   fill: white;
  //   fill-opacity: .75;
  //   stroke: white;
  // }
  // .legend text {
  //   font-size: 12px;
  // }