$white: #fefefe;
$lightest-gray: #f8f8f8fa;
$lighter-gray: #efece6;
$light-gray: #E4E4E4;
$gray: #888888;
$dark-gray: #686868;

$green: #daeebf;
$red: #d68b8b;
$light-red: #faaaaa;
$dark-red: #6d1a1a;
$blue: #4fc1ef;
$dark-blue: #3f9abf;