@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans:400,600|Playfair+Display+SC:400,700');

$text: 'Open-Sans', sans-serif;
$header: 'Josefin Sans', sans-serif;
$display: 'Playfair Display SC', serif;